{
  "$schema": "https://json.schemastore.org/prettierrc",
  "singleQuote": true,
  "semi": false,
  "arrowParens": "avoid",
  "tabWidth": 2,
  "singleAttributePerLine": true,
  "tailwindStylesheet": "./src/assets/css/app.css",
  "plugins": ["prettier-plugin-tailwindcss"]
}
